@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

:root{
    --mainColor: #434242;
    --secondColor: #222222;
    --offColor: #F3EFE0;
    --detailColor: #22A39F;
}

.displayNone {
    display: none !important;
}
.displayFlex {
    display: flex !important;
}

body {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ============= MOBILE VIEW ============= */
@media screen and (min-width: 360px) {

    /* ============= ABOUT ME ============= */
    .landingPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .pic {
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--detailColor);
        margin: 2em 0 1em 0;
        box-shadow: 10px 10px 20px black;
    }

    .pic img {
        height: 100%;
        border-radius: 50px;
    }

    .infoBox {
        background-color: var(--secondColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        height: 10em;
        width: 90%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: 10px 10px 20px black;
    }

    .infoBox .socials a{
        font-size: 34px;
        text-decoration: none;
        color: var(--offColor);
    }

    .infoBox .location {
        font-size: 10px;
    }

    .aboutMeArea {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--offColor);
        margin-top: 3em;
    }

    .aboutMeArea button {
        background-color: var(--secondColor);
        color: var(--offColor);
        border: 3px solid var(--detailColor);
        height: 4em;
        width: 11em;
        border-radius: 15px;
        margin-top: 2em;
        box-shadow: 10px 10px 20px black;
    }

    /* ============= MESSAGE ME ============= */
    .messageBox {
        display: none;
        position: absolute;
        top: 2em;
        background-color: var(--secondColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        height: 90%;
        width: 90%;
        border-radius: 15px;
        padding: 1em;
        z-index: 1;
    }

    .messageBox i {
        color: var(--offColor);
        font-size: 25px;
        position: relative;
        left: 10.5em;
    }

    .messageBox input {
        margin-top: 2em;
        background-color: var(--mainColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        padding: 0.5em 1em;
        border-radius: 15px;
        width: 20em;
    }

    .messageBox #msg {
        margin-top: 2em;
        background-color: var(--mainColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        padding: 0.5em 1em;
        border-radius: 15px;
        width: 20em;
        height: 13em;   
        resize: none; 
    }

    .messageBox .optional {
        position: relative;
        top: -33.5em;
        left: 2em;
        font-size: 10px;
    }

    .show-message-window {
        display: block;
    }


    /* ============= QUALIFICATIONS ============= */
    .qualificationsPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        color: var(--offColor);
    }

    .dropdown {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
    .selectBox {
        background-color: var(--secondColor);
        color: var(--detailColor);
        padding: 0.5em 1em;
        width: 20em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
    }

    .dropIcon {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--detailColor);
        transition: 0.2s;
    }

    .dropIcon-rotate {
        transform: rotate(180deg);
    }

    .skillMenu {
        list-style: none;
        padding: .5em 1em;
        background-color: rgb(49, 49, 49);
        border-radius: 15px;
        box-shadow: 0px 3px 10px black;
        color: var(--offColor);
        position: absolute;
        top: 53.5em;
        width: 20em;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        z-index: 1;
        display: none;
    }

    .skillMenu li {
        padding: 1em 1em;
    }

    .skillMenu-open {
        display: block;
        opacity: 1;
    }

    .skillResults {
        background-color: var(--secondColor);
        color: var(--offColor);
        border: 3px solid var(--detailColor);
        margin-top: 1em;
        padding: 1em;
        border-radius: 15px;
        width: 20em;
        box-shadow: 10px 10px 20px black;
    }

    .skillResults ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }


   /* ============= EXPERIENCE ============= */
    .experience {
        background-color: var(--secondColor);
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20em;
        padding: 1em;
        border-radius: 5px;
    }

    .BtnDiv {
        width: 4em;
        background-color: var(--mainColor);
        border-radius: 15px;
    }
    .switch{
        width: 70%;
        height: 100%;
        border-radius: 15px;
        border: 3px solid var(--detailColor);
        background-color: #0deae3;
        transition: margin-left .2s;
    }
    .switchClicked {
        margin-left: 1.5em;
    }

    .education {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    .education i {
        font-size: 70px;
    }
    .education span {
        color: var(--detailColor);
        font-size: 20px;
    }

    .highSchool, .university, .forHire {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }

    .work {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    .work i {
        font-size: 70px;
    }
    .work span {
        color: var(--detailColor);
        font-size: 20px;
    }

    /* ============= FOOTER ============= */
    footer {
        position: fixed;
        bottom: 1em;
        background-color: #13d4cd;
        height: 5em;
        width: 90%;
        border-radius: 50px;
        box-shadow: 5px 5px 20px black;
        border: 3px solid var(--detailColor);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    footer button {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 3px solid var(--detailColor);
        background-color: #0deae3;
        font-size: 30px;
        color: var(--detailColor);
    }
}