@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

html {
    scroll-behavior: smooth;
}

:root{
    --mainColor: #434242;
    --secondColor: #222222;
    --offColor: #F3EFE0;
    --detailColor: #22A39F;
}

.displayNone {
    display: none !important;
}
.displayFlex {
    display: flex !important;
}



/* ============= DESKTOP VIEW ============= */
@media screen and (min-width: 769px) {


    body {
        background-color: var(--mainColor);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ============= HEADER ============= */
    header {
        position: fixed;
        top: 0;
        background-color: #13d4cd;
        height: 5em;
        width: 100%;
        box-shadow: 5px 5px 20px black;
        border-bottom: 3px solid var(--detailColor);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6%;
        z-index: 100;
        padding-right: 1%;
    }
    header a {
        text-decoration: none;
    }

    header button {
        height: 50px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 3px solid var(--detailColor);
        background-color: #0deae3;
        font-size: 30px;
        color: var(--detailColor);
        padding: 0 .5em;
    
    }

    header button p {
        color: var(--mainColor);
        font-size: 20px;
        margin-left: 1em;
    }

    /* ============= ABOUT ME ============= */
    .landingPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6em 0 6em 0;
    }
    .pic {
        height: 300px;
        width: 300px;
        border-radius: 300px;
        background-color: rgb(206, 206, 206);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--detailColor);
        box-shadow: 10px 10px 20px black;
        margin-left: -60%;
    }

    .pic img {
        height: 100%;
        border-radius: 100px;
    }

    .infoBox {
        background-color: var(--secondColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        width: 50%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        box-shadow: 10px 10px 20px black;
        font-size: 18px;
        margin: -2em -3em 0 0;
    } 

    .infoBox .socials i{
        font-size: 34px;
        text-decoration: none;
        color: var(--offColor);
        padding: 0 .2em;
    }

    .myMailWindow {
        background-color: var(--secondColor);
        border: 3px solid var(--detailColor);
        border-radius: 15px;
        width: 16em;
        display: none;
        text-align: center;
        position: absolute;
        left: 41%;
        padding: 1em;
    }

    .myMailWindow input {
        width: 100%;
        background-color: var(--mainColor);
        color: var(--offColor);
        border: none;
        border-radius: 5px;
        padding: 4px;
        text-align: center;
    }

    .infoBox .location {
        font-size: 10px;
    }

    .aboutMeArea {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--offColor);
        margin-top: 3em;
    }

    .aboutMeArea button {
        background-color: var(--secondColor);
        color: var(--offColor);
        border: 3px solid var(--detailColor);
        height: 4em;
        width: 11em;
        border-radius: 15px;
        margin: 4em;
        box-shadow: 10px 10px 20px black;
    }

    /* ============= MESSAGE ME ============= */
    .messageBox {
        display: none;
        position: absolute;
        top: 16em;
        background-color: var(--secondColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        height: 70%;
        width: 35em;
        border-radius: 15px;
        padding: 1em;
        z-index: 1;
        text-align: center;
    }

    .messageBox i {
        color: var(--offColor);
        font-size: 25px;
        position: relative;
        left: 10em;

    }

    .messageBox input {
        margin-top: 2em;
        background-color: var(--mainColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        padding: 0.5em 1em;
        border-radius: 15px;
        width: 20em;
    }

    .messageBox #msg {
        margin-top: 2em;
        background-color: var(--mainColor);
        border: 3px solid var(--detailColor);
        color: var(--offColor);
        padding: 0.5em 1em;
        border-radius: 15px;
        width: 20em;
        height: 13em;   
        resize: none; 
    }

    .show-message-window {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    /* ============= QUALIFICATIONS ============= */
    .qualificationsPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--offColor);
        padding: 6em 0 6em 0;
        height: 100vh;
    }

    .dropdown {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
    .selectBox {
        background-color: var(--secondColor);
        color: var(--detailColor);
        padding: 0.5em 1em;
        width: 20em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
    }

    .dropIcon {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid var(--detailColor);
        transition: 0.2s;
    }

    .dropIcon-rotate {
        transform: rotate(180deg);
    }

    .skillMenu {
        list-style: none;
        padding: .5em 1em;
        background-color: rgb(49, 49, 49);
        border-radius: 15px;
        box-shadow: 0px 3px 10px black;
        color: var(--offColor);
        position: absolute;
        top: 75.5em;
        width: 20em;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        z-index: 1;
        display: none;
    }

    .skillMenu li {
        padding: 1em 1em;
    }

    .skillMenu-open {
        display: block;
        opacity: 1;
    }

    .skillResults {
        background-color: var(--secondColor);
        color: var(--offColor);
        border: 3px solid var(--detailColor);
        margin-top: 1em;
        padding: 1em;
        border-radius: 15px;
        width: 20em;
        box-shadow: 10px 10px 20px black;
    }

    .skillResults ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }


   /* ============= EXPERIENCE ============= */
    .experience {
        background-color: var(--secondColor);
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45em;
        padding: 1em;
        border-radius: 5px;
    }

    .switchContainer {
        display: flex;
    }

    .eduIcon {
        color: var(--detailColor);
        margin-right: 1em;
        transition: color .2s;
    }
    .eduIconColorSwitch {
        color: var(--offColor);
    }
    
    .workIcon {
        color: var(--offColor);
        margin-left: 1em;
        transition: color .2s;
    }
    .workIconColorSwitch {
        color: var(--detailColor);
    }

    .BtnDiv {
        height: 1.5em;
        width: 4em;
        background-color: var(--mainColor);
        border-radius: 15px;
        display: flex;
    }
    .switch{
        width: 70%;
        border-radius: 15px;
        border: 3px solid var(--detailColor);
        background-color: #0deae3;
        position: relative;
        transition: margin-left .2s;
    }
    .switchClicked {
        margin-left: 1.5em;
    }

    /* ============= EDUCATION ============= */
    .education {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    .education i {
        font-size: 70px;
    }
    .education span {
        color: var(--detailColor);
        font-size: 20px;
    }

    .highSchool, .medieinstitutet, .forHire {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4em;
    }


    /* ============= WORK ============= */
    .work {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    .work i {
        font-size: 70px;
    }
    .work span {
        color: var(--detailColor);
        font-size: 20px;
    }


    /* ============= PORTFOLIO ============= */
    .portfolioPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--offColor);
        padding: 6em 0 6em 0;
        height: 100vh;
        width: 55%;
    }

    .portfolioItems {
        display: flex;
        
    }

    .griftersGame {
        display: flex;
        background-color: var(--secondColor);
        color: var(--offColor);
        border: 3px solid var(--detailColor);
        border-radius: 15px;
        width: 20em;
        padding: 2em 1em;
        margin-top: 1em;
        box-shadow: 10px 10px 20px black;
    }
    .griftersGame video {
        height: 5em;
    }
    .projectInfoAndButton{
        margin-left: 10px;
    }
    .projectInfoAndButton .itemInfo{
        font-size: 11px;
    }
    .goTo {
        background-color: var(--detailColor);
        border: 1px solid var(--detailColor);
        color: var(--offColor);
        padding: .2em 1em;
        border-radius: 15px;
        margin-top: 10px;
    }

    footer {
        display: none;
    }
}